@CHARSET "UTF-8";

body {
font-size: 12px;
font-family: "微软雅黑";
z-index:100;
}
 #play{
            width:1080px;
            height:720px;
            background-color:#000;
            opacity: 0;
            margin-top: -30px;
        }
          
        #tangmu{
            width:1080px;
            height:720px;
            background-color:#fff;
            z-index:9999;
            background-color: rgba(000, 1, 000, 0.1); 
            opacity: 0;
            margin-top: -10%;
            position: absolute;
        }
          
        #textStyle{
            position:absolute;
            font-size:24px;
            color:yellow;
        }
* {
margin: 0;
padding: 0;

}
/* screen start*/
.screen {
width: 300px;
height: 100px;
background: #669900;
}


.dm {
width: 100%;
height: 100%;
position: absolute;
top: 0;
left: 0;
}


.dm .d_screen .d_del {
width: 38px;
height: 38px;
background: #600;
display: block;
text-align: center;
line-height: 38px;
text-decoration: none;
font-size: 20px;
color: #fff;
border-radius: 19px;
border: 1px solid #fff;
z-index: 2;
position: absolute;
right: 20px;
top: 20px;
outline: none;
}


.dm .d_screen .d_del:hover {
background: #F00;
}


.dm .d_screen .d_mask {
width: 100%;
height: 100%;
background: #000;
position: absolute;
top: 0;
left: 0;
opacity: 0.6;
filter: alpha(opacity = 60);
z-index: 1;
opacity: 0;
}


.dm .d_screen .d_show {
position: relative;
z-index: 10000;
}


.dm .d_screen .d_show div {
font-size: 26px;
line-height: 36px;
font-weight: 500;
position: absolute;
z-index: 10001;
top: 76px;
left: 10;
color: #fff;
}
/*end screen*/


/*send start*/
.send {
width: 100%;
height: 76px;
position: absolute;
bottom: 0;
left: 0;
border: 1px solid red;
}


.send .s_filter {
width: 100%;
height: 76px;
background: #000;
position: absolute;
bottom: 0;
left: 0;
opacity: 0.6;
filter: alpha(opacity = 60);
}


.send  .s_con {
width: 100%;
height: 76px;
position: absolute;
top: 0;
left: 0;
z-index: 2;
text-align: center;
line-height: 76px;
}


.send .s_con .s_text {
width: 800px;
height: 36px;
border: 0;
border-radius: 6px 0 0 6px;
outline: none;
}


.send .s_con .s_submit {
width: 100px;
height: 36px;
border-radius: 0 6px 6px 0;
outline: none;
font-size: 14px;
color: #fff;
background: #65c33d;
font-family: "微软雅黑";
cursor: pointer;
border: 1px solid #5bba32;
}


.send .s_con .s_submit:hover {
background: #3eaf0e;
}